@page "/history"
@inject IJSRuntime JsRuntime;


<div class="row">
    <div class="container">
        <div class="col s12">
            <h1>Geschichte</h1>
        </div>
        <div class="col s12 ">
            <!-- Random Placeholder Text -->
            <p>Der Eissport bietet viele verschiedene Möglichkeiten an. Von Eiskunstlauf, über Curling bis zu Eishockey ist alles dabei. </p>
            <p>
                Einer der beliebtesten Eissportarten ist und bleibt das Eisstockschießen, den Eisstockschießen ist ein Sport für jederman.
                Und in die Kategorie jederman fallen auch mein Mann und ich. Wir sind große Freunde diese Sportes und schießen extrem oft mit unseren Freunden
            </p>

            <br />

            <p>Und genau aus ist der Grund haben sich mein Mann und ich  vor über 10 Jahren für das bauen unsere eigenen Eisstockbahnen entschieden.</p>
            <p>Die Bahnen haben viel Zeit und Geld gekostet, aber das waren und sind sie Wert.</p>

            <br />

            <p>Auf unsere kleine, aber feinen Webseite, finden Sie alle wichtigen Fakten und Daten zu unseren Eisstockbahnen.</p>
        </div>

        <div class="wrapper">

        </div>

        <div class="titelLines col s12 ">
            <h3>Bildergalerie</h3>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Musikerschießen</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Ortsmeisterschaft 2011</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Ortsmeisterschaft 2013</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Musikerschießen 2013</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("M.AutoInit");
        }
    }
}
