@page "/history"
@inject IJSRuntime JsRuntime;


<div class="row">
    <div class="container">
        <div class="col s12">
            <h1>Geschichte</h1>
        </div>
        <div class="col s12 ">
            <!-- Random Placeholder Text -->
            <p></p>
            <p>
                Die erste Frage die wir beantworten müssen ist, warum haben wir über Eisbahnen gebaut?
            </p>

            <br />

            <p>
                Der Hauptgrund für das bauen der Bahnen liegt eigentlich darin, das wir die Bahnen dir wir vorher immer genutzt haben, nicht mehr nutzen durften.
                Grund dafür war, das die damaligen Eisbahnen auf Fischteichen waren und die Fische nicht wirklich zu Ruhe kamen.
            </p>

            <br />

            <p>
                Da mein Mann und ich aber diesen Sport so gerne ausübten, haben wir zuerst lange nach alternativen gesucht. Alternativen die nicht weit Weg von unseren Zuhause sind und auch für unsere Freunde erreichbar sind.
                Ein Freund sagte, dann als Spaß mal: "Warum baut ihr den nicht einfach welche, ihr habt doch so viel Platz und Grund.

                Mit dieser Aussage hatte er komplett recht und so begannen mein Mann und ich darüber nachzudenken. Nach lange Überlegung haben wir dann 2009 beschlossen, unsere Eisbahnen zu bauen.

                Das Erbauen der Bahnen dauerte ziemlich lange und hat uns viele Nerven gekostet. Es wurde herumüberlegt wohin mit den Bahnen, wie sollen sie ausgerichtet sein, wie breit müssen sie werden usw.
                Nachdem alle Fragen abgeklärt waren, wurde sie ausgehoben und verdichtet. Als wir dann im ersten Winter entlicht Wasser einlassen konnten waren wir verdammt stolz. Wir hatten unsere eigenen Eisbahnen.
            </p>

            <br />

            <p>
                Für das Wohl unsere Gäste wurde das alte Familienhaus meines Mannes zu einer Gaststube umfunktioniert. Dort können die Gäste sich aufwärmen, sowie auch Speisen und Getränke verzehren.
            </p>

            <br />

            <p>Jährlich werden viele Events auf den Eisbahnen abgehalten und natürlich wir das auch mit Bilder festgehalten. :)</p>
        </div>

        <div class="wrapper">

        </div>

        <div class="titelLines col s12 ">
            <h3>Bildergalerie</h3>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Musikerschießen</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Ortsmeisterschaft 2011</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Ortsmeisterschaft 2013</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>

        <div class="col s3" style="margin-top:1em">
            <h5>Musikerschießen 2013</h5>
        </div>
        <div class="col s9" style="margin-top:1em">
            <div class="carousel carousel-slider center">
                <div class="carousel-item " href="#one!">
                    <img src="img/eisstockbahnen_musik6.jpg">
                </div>
                <div class="carousel-item white-text" href="#two!">
                    <img src="img/eisstockbahnen_musik7.jpg">
                </div>
                <div class="carousel-item white-text" href="#three!">
                    <img src="img/eisstockbahnen_musik3.jpg">
                </div>
                <div class="carousel-item white-text" href="#four!">
                    <img src="img/eisstockbahnen_musik4.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("M.AutoInit");
        }
    }
}
