@page "/pricelist"

<div class="container">
    <h3>Preisliste</h3>
    <table class="highlight">
        <thead>
            <tr>
                <th colspan="2">Bahngeld</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>bei Tag</td>
                <td>1,00€</td>
            </tr>
            <tr>
                <td>bei Nacht</td>
                <td>1,50€</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <p></p>
    <table class="highlight">
        <thead>
            <tr>
                <th colspan="2">Getränke</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Baunti (Lemon)</td>
                <td>2,50€</td>
            </tr>
            <tr>
                <td>1/2 Bier</td>
                <td>2,50€</td>
            </tr>
            <tr>
                <td>1/8 Wein (rot/weiß)</td>
                <td>1,50€</td>
            </tr>
            <tr>
                <td>G'Spritzter, Süßer G'Spritzter</td>
                <td>2,00€</td>
            </tr>
            <tr>
                <td>1/3 Sommer</td>
                <td>1,50€</td>
            </tr>
            <tr>
                <td>1/2 Sommer</td>
                <td>2,50€</td>
            </tr>
            <tr>
                <td>Jägermeister</td>
                <td>1,50€</td>
            </tr>
            <tr>
                <td>Schnaps</td>
                <td>1,50€</td>
            </tr>
            <tr>
                <td>Cola-Rum</td>
                <td>3,00€</td>
            </tr>
            <tr>
                <td>Cola-Whisky</td>
                <td>3,00€</td>
            </tr>
            <tr>
                <td>Flying Hirsch</td>
                <td>3,50€</td>
            </tr>
            <tr>
                <td>1/4 Limo</td>
                <td>1,00€</td>
            </tr>
            <tr>
                <td>1/2 Limo</td>
                <td>2,00€</td>
            </tr>
            <tr>
                <td>Mineralwasser</td>
                <td>1,00€</td>
            </tr>
            <tr>
                <td>Red Bull</td>
                <td>2,50€</td>
            </tr>
            <tr>
                <td>Tee</td>
                <td>1,50€</td>
            </tr>
            <tr>
                <td>Tee mit Rum</td>
                <td>2,50€</td>
            </tr>
            <tr>
                <td>Kaffee</td>
                <td>2,00€</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <p></p>
    <table class="highlight">
        <thead>
            <tr>
                <th colspan="2">Speisen</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Pizza</td>
                <td>6,00€</td>
            </tr>
            <tr>
                <td>Würstel</td>
                <td>3,00€</td>
            </tr>
            <tr>
                <td>Würstel</td>
                <td>3,50€</td>
            </tr>
            <tr>
                <td>Gulasch</td>
                <td>2,50€</td>
            </tr>
            <tr>
                <td>Leberkässemmel</td>
                <td>2,00€</td>
            </tr>
            <tr>
                <td>Portion Leberkäse mit Semmel</td>
                <td>3,00€</td>
            </tr>
            <tr>
                <td>Semmel</td>
                <td>0,50€</td>
            </tr>
        </tbody>
    </table>
</div>
