<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Agis Eisbahnen</h5>
                <p class="grey-text text-lighten-4">Anschrifft: Au 9, 4733 Heiligenberg</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ©@DateTime.Today.Year - Daniel Schlick
            <NavLink class="nav-link right white-text" href="about">Über</NavLink>
        </div>
    </div>
</footer>